<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-inner">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>
	<div class="article-meta">
    <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    <%- partial('post/category') %>    
    <% if (!index && theme.post_index){ %>
        <svg class="svg"><use xlink:href="#i-idx"></use></svg><a href="#" id="p_index"><%= __('page_index') %></a>
    <% } %>
	</div>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
    <footer class="article-footer">
     <!-- <svg class="svg"><use xlink:href="#i-tag"></use></svg><a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link"><%= __('share') %></a> -->
      <% if (!index && post.comments && theme.disqus){ %>
        <svg class="svg"><use xlink:href="#i-msg"></use></svg><a href="<%- post.permalink %>#disqus_thread" class="article-comment-link"><%= __('comment') %></a>
      <% } else if (!index && post.comments && theme.cy_appid && theme.cy_conf ){ %>
        <svg class="svg"><use xlink:href="#i-msg"></use></svg><a href="<%- post.permalink %>#SOHUCS" class="article-comment-link"><%= __('comment') %></a>
      <% } %>
      <%- partial('post/tag') %>
    </footer>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (!index && post.comments && theme.disqus){ %>
<section id="comments">
  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = '<%= page.permalink %>';
      this.page.identifier = '<%= post.layout %>-<%= post.slug %>';
    };
    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://<%= theme.disqus %>.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
</section>
<% } else if (!index && post.comments && theme.cy_appid && theme.cy_conf ){ %>
<section id="comments">
  <div id="SOHUCS" sid="<%= post.layout %>-<%= post.slug %>" ></div>
  <script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
  <script type="text/javascript">
    window.changyan.api.config({
		appid: '<%= theme.cy_appid %>',
		conf: '<%= theme.cy_conf %>'
  	});
  </script>
</section>
<% } %>